<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-white">About Us</h5>
        <p class="text-muted">Your e-books website description or information about your project can go here.</p>
      </div>
      <div class="col-md-3">
        <h5 class="text-white">Quick Links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Home</a></li>
          <li><a class="text-muted" href="#">E-books</a></li>
          <li><a class="text-muted" href="#">About</a></li>
          <li><a class="text-muted" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-white">Connect With Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Facebook</a></li>
          <li><a class="text-muted" href="#">Twitter</a></li>
          <li><a class="text-muted" href="#">Instagram</a></li>
          <li><a class="text-muted" href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<style>
    .footer {
  position: absolute;
  width: 100%;
  margin-top: 50px;
}
</style>